.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}
.product {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.no-of-product, .fa {
    display: flex;
    flex-wrap: wrap;
}

.no-of-product > div {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50px;
  text-align: center;
  background: #FA7E1D;
  color: #ffffff;
  padding: 10px;
}

.no-of-product > div:nth-of-type(2) {
    flex-basis: 100px;
    color: black;
    background: #F9ECE2
}

.fa > div:nth-of-type(1) {
    flex-grow: 3;
}
.fa > div:nth-of-type(2) {
    flex-grow: 1;
}

.select-address {
    display: flex;
    background: #FA7E1D;width: 170px;
    padding: 10px;
    color: #ffff;
    margin-top: 65px;
}

.select-address > span:nth-of-type(1) {
    flex-grow: 3;
}

.select-address > span:nth-of-type(2) {
    flex-grow: 1;
}