<h3>{{data.products.length}} products in cart</h3>
<div class="product-container">
    <div class="product" *ngFor="let p of data.products">
        <img src="{{p.image}}"/>
        <div><h4>{{p.name}}</h4></div>
        <div class="no-of-product">
            <div>-</div>
            <div>{{p.noOfProduct}}</div>
            <div>+</div>
        </div>
    </div>
</div>
<hr>
<div class="fa">
    <div>
        <div><h2><span style="margin-right: 20px;">Cart Total</span><span style="color:#F0A973">$1289.00</span></h2></div>
        <div><span style="margin-right: 10px;">Tax</span><span style="color:#F0A973">$23</span></div>
        <div><span style="margin-right: 10px;">Shipping Charges</span><span style="color:#F0A973">$23</span></div>
    </div>
    <div>
        <div class="select-address">
            <span>
                Select Address
            </span>
            <span>></span>
        </div>
        
    </div>
</div>