.checkout-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #3D3837;
    color: #ffff;
    
}

.checkout-container > div {
    width: 175px;
    padding: 25px;
}

.checkout-container .circle {
    border-radius: 10px;
    background: white;
    color: #0A0909;
    padding-left: 3px;
    margin: 10px;
}

.selected-bg {
    background:#FA7E1D;
    position: relative;
}

.selected-bg:before{
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    border-top: 35px solid transparent;
    border-bottom: 33px solid transparent;
    border-left: 30px solid #FA7E1D;
  
  }
