<!-- <div class="checkout-container">
    <div *ngFor="let c of checkout" [ngClass]="(c.id==selectedCheckoutId)?'selected-bg ':''">
        <span class="circle">
            {{c.id}}
        </span>
        <span>
            {{c.name}}
        </span>
    </div>
    <div>
        <ng-template checkoutHost></ng-template>
    </div>
</div> -->
<div class="checkout-container">
    <div *ngFor="let c of checkout" [ngClass]="(c.id==selectedCheckoutId)?'selected-bg ':''">
        <span class="circle">
            {{c.id}}
        </span>
        <span>
            {{c.name}}
        </span>
    </div>
</div>
<div class="ad-banner-example">
    <ng-template checkoutHost></ng-template>
  </div>